body{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    /*Apenas para centralizar o form na pagima*/
    margin: 0 auto;
    width: 500px;
    /*Para ver as bordas do formulario*/
    padding: 3em;
    border: 3px solid #023606;
    border-radius: 3em;
}

form div+div {
    margin-top: 1.2em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas*/
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
    /*Para certificar que todos os campos de testo tem as mesmas configuraçoes de
    fonte. Por padrão, textareas ter uma fonte monospace */
    font: 1em roboto;
    
    /*Para dar o mesmo tamanho a todos os campo de testo*/

    width: 320px;
    box-sizing: border-box;

    /*Para harmonizar o look e feel das bordas nos campos de texto*/

    border: 3px solid rgb(64, 23, 175);
    background-color: aquamarine;
}

input:focus, textarea:focus {
    /*Dar um pouco de destaque nos elementos ativos*/
    border-color: red;
}

textarea {
    /*Para alinhar corretamente os campos de texto de varias linhas com sua label*/
    vertical-align: top;

    /*Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /*Para permitir aos usuarios redimensionarem qualquer textarea verticalmente.
    Ele não funciona em todos os browsers */
    resize: vertical;
}

.button {
    /*Para posicionar os botões os botões para a mesma posição dos campos de texto */
    padding-left: 90px;
    /* mesmo tamanho que os elementos do tipo label */
}

button {
    /*Esta margem extra representa aproximadamente o mesmo espaço que o espaço
    entre as labels e os campos de texto*/
    margin-left: 3.5em;
    margin-bottom: 10px;
    font-size: large;
    background-color:white;

}

input[type=radio]{
    width: auto;
    
}

.radio label{
    text-align: left;
    width: 190px;
}

.radio{
    width: 300px;
    display: block;
    margin: 0 auto;
    
    font-size: 18px;
}

.peso{
    text-align: right;
    font-size: ;
}
